AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_URL=http://localhost:3000

GREEN_API_URL=https://api.green-api.com
GREEN_API_ID_INSTANCE=
GREEN_API_TOKEN=

DATABASE_URL=

ALLOWED_GOOGLE_EMAILS=your-email@gmail.com
SEND_BATCH_SIZE=5
SEND_DELAY_MS=700
